/*BOX SIZING*/

html {
    box-sizing: border-box;
}
*, *:before, *:after {
    box-sizing: inherit;
}

/*BODY*/

body {
	background-color: #e1e1e1;
}

/**TOP NAV BAR***/

/*Header container*/

header.top-header {
	width: 100%;
	position: relative;
	top: 0;
	background-color: rgb(174, 175, 178);
}

/*Menu*/

nav.top-nav, ul.top-nav {
	float: right;
}

.top-nav li {
	display: inline;
}

a.top-nav {
	padding: 30px;
	text-align: center;
	float: left;
	color: white;
}

a.top-nav:hover {
	background-color: rgb(249, 46, 6);
}

/***LEFT NAV BAR***/

aside.left-nav {
	background-color: white;
	border-radius: 3px;
	padding: 0;
	padding-bottom: 500px;
	padding-top: 40px;
}

a.column.left-nav {
	text-align: center;
	color: rgb(115, 116, 118);
	padding: 20px;
	padding-top: 30px;
}

a.left-nav:hover {
	background-color: black;
	color: rgb(249, 46, 6);
}

/***MAIN CONTENT***/

.main-content {
	margin-top: 40px;
}

img.death-star {
	float: left;
	width: 190px;
	height: 190px;
	margin: 0 30px 10px 0;
	border-radius: 3px;
}

/***FOOTER***/

footer {
	position: relative;
	bottom: 0;
	width: 100%;
	padding: 40px 40px;
	background-color: rgb(202, 203, 205);
}

ul.footer {
	position: absolute;
	right: 20px;
	top: 10px;
}

footer li {
	display: inline;
}

a.footer {
	padding: 20px;
	color: rgb(249, 46, 6);
}

/**********/

/*MISC*/
/*Unordered Lists*/

li {
	list-style-type: none;
}

li a {
	text-decoration: none;
}

ul {
	margin: 0;
	padding: 0;
}

/*Display*/

.inline {
	display: inline;
}

.inline-block {
	display: inline-block;
}

.block {
	display: block;
}

/*Stying*/

h1 {

}

h2 {

}

h3 {

}

p {

}

/*CLEARFIX*/

.clearfix:after {
     visibility: hidden;
     display: block;
     font-size: 0;
     content: " ";
     clear: both;
     height: 0;
     }
.clearfix { display: inline-block; }
/* start commented backslash hack \*/
* html .clearfix { height: 1%; }
.clearfix { display: block; }
/* close commented backslash hack 