#container {
	width: 500px;
	margin: 0 auto;
	margin-top: 40px;
	margin-left: 65px;
	padding-top: 20px;
	color: #9C6238;
	font-family: 'Coming Soon', cursive;
	float: left;
}

#container2 {
	position: absolute;
	width: 450px;
	height: 500px;
	left: 50%;
	top: 100px;
	float: right;
	color: #1A0B08
}

body {
	background-image: url('/img/paper-on-desk.jpg');
	background-repeat: no-repeat;
	background-size: cover;
}

h1 {
	margin-bottom: 0;
}

h2 {
	margin-top: 0;
}